
.navbar{
    position: sticky;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: hsl(345, 72%, 70%)
}

.menu{  
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.logo{
    position: relative;
    top: 0.10rem;
    justify-self: flex-end;

}

.title{
    margin-top: 2rem;
    font-family: 'Gloria Halleleluja', cursive;
    color: antiquewhite;
}

.logo img{
    width: 6rem;
}

.link{
    position: relative;
    margin-left: 1rem;
    top: 1.5rem;
    text-decoration: none;
    font-family: 'Gloria Halleleluja', cursive;
    
}


