.App{
    /* display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center; */
}


.navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: hsl(345, 72%, 70%);
    width: 100%;    
}

.menu{  
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.avatar{
    position: relative;
    font-family: 'Gloria Halleleluja', cursive;
    top: -0.4rem;

}

.avatarName{
    font-size: 1.2rem;
}

.logo{
    position: relative;
    top: 0.10rem;
    justify-self: flex-end;

}

.title{
    margin-top: 2rem;
    font-family: 'Gloria Halleleluja', cursive;
    color: antiquewhite;
    margin-left: 4rem;
}

.logo img{
    width: 6rem;
}

.link{
    position: relative;
    margin-left: 1rem;
    top: 1.5rem;
    text-decoration: none;
    font-family: 'Gloria Halleleluja', cursive;
    
}

.link:hover{
    text-shadow: 2px 2px 2px black;
}

.linkProfile {
    text-decoration: none;
    color: black;
}

.linkProfile:hover{
    color: beige;
    
}

.linkProfile:active{
    color: beige;
    text-shadow: 1px 1px 1px black;
}

button{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	width: 15rem;
	height: 40px;
	margin-top: 1rem;
	margin-bottom: 1rem;
	background-color:wheat;
	box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #ffb9f6;
	border-radius: 4px;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
	transition: all 100ms ease-in-out;
	will-change: transform, background-color, box-shadow;
	border: none;
}

.search-compon{
    width: 100%;
}

.content{
    width: 100%;
}


/* mobile */

@media screen and (max-width:480px) {
    
    
.search-compon{
    width: 100%;
}

.content{
    width: 100%;
}


}

/* tablet */

@media screen and (min-width:480px) and (max-width:768px) {
    
}


