.general{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
.wrapper-checkout{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bd{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    align-self: flex-start;
    margin-left: 6.5rem;
}

h5{
    font-size: 1.5rem;
}
.hotel {
    margin-top:1rem;
}

.checkout-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: hsl(345, 72%, 70%);
    width: 84%;
    margin-left: 8%;
    margin-right: 8%;
    /* margin-top: 2rem; */

    

    
}

.checkout-container .booking-details {
    width: 37%;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* position: relative; */
    /* top: 1.5rem; */
    
    
    
}

.booking-details .room-selection {
    position: relative;
    top: 1.25rem;
    
}


.hotel-details{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-self: flex-end;
    align-items: center;
    width: 37%;
    
    
}

.hotel-details p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.hotel-details .name{
    margin-top: 0.03rem;
}

.hotel-details .location{
    margin-top: 1.8rem;
    margin-bottom: 2rem;
}

.hotel-details .country{
    margin-left: 6rem;
}


.hotel-img {
    width: 22rem;
    height: 16rem;
    margin-top: 2rem;
}

.hotel-details button{
    margin-top: 2.5rem;
    margin-left: 1.5rem;
    height: 4rem;
    width: 15rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:wheat;
    font-weight: bold;
    font-size: large;
}

.hotel-details button:hover{
    cursor: pointer;
    background-color:rgb(25, 22, 77);
    color: white;
    
}

.hotel-details .complete:hover{
    cursor: pointer;
    background-color:rgb(25, 22, 77);
    color: white;
    
}

.hotel-details .complete:active{
    text-shadow: 1px 1px 1px black
}

.hotel-details p {
    font-weight: bold;
}



.stripe{
    width: 90%;
    margin-top: 2rem;
}


/* mobile */

@media screen and (max-width:480px) {
    .wrapper-checkout{
        margin-top: 2rem;
        width: 100%;
        
    }

    .bd {
        display: none;
    }


    .wrapper-checkout .checkout-container{
        font-size: 0.75rem;
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
    }

    .hotel-details .hotel-img{
        /* display: none; */
        width: 100%;
        height: 100px;
    }


    .room-selection > h5{
        font-size: 1rem;
    }
    .room-pricing > h5{
        font-size: 1rem;
    }

}

/* tablet */

@media screen and (min-width:480px) and (max-width:901px) {

    .wrapper-checkout{
        margin-top: 2rem;
    }

    .wrapper{
        display: block;
    }
    .hotel-img {
       width: 100%;
       height: 200px;
    }
    .bd {
        display: none;
    }
}