.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    
}

.content h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    align-self: flex-start;
    margin-left: 10rem;
    margin-bottom: 2rem;
}


.room-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.room-container img {
    width: 30rem;
}