.cities {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
margin-top: 4rem;
justify-content: space-around;
margin-left: 1rem;
margin-right: 1rem;
}

.city{
display: flex;
flex-direction: column;
flex-wrap: wrap;
text-align: center;
filter: grayscale(0);
}


.city img{
    width: 25rem;
    height: 15rem;
    box-shadow: 2px 2px 2px 2px gray;
    border-radius: 1%;
}


.city figcaption{
    font-family: 'Fjalla One', sans-serif;
    margin-top: 1rem;
    text-shadow: 1.2px 1.2px gray;
    font-size: 1.5rem;
}

/* Carousel */


.rec.rec-arrow {
    border-radius: 0;
}

.rec.rec-arrow:hover {
    border-radius: 50%;
}

.rec.rec-arrow:disabled {
    visibility: hidden;
}


/*--------------------------*/

.countries {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.country{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    width: fit-content;
}

.country img {
    width:  30rem; 
    height:  20rem; 
    box-shadow: 2px  2px 2px gray;
    margin-bottom: 0.4rem;
    filter: grayscale(0%);
}

.country img:hover{
    filter: grayscale(33%);
    
}

.country img:active{
    box-shadow: none;
}

h4{
    margin-bottom: 4rem;
    font-family: 'Gloria Halleleluja', cursive;
    font-size: 2.5rem;
    text-shadow: 2px 2px gray;
}

.text{
    position: absolute;
    left: 6rem;
    font-family: 'Fjalla One', sans-serif;
    top: 1rem;
    text-shadow: 2px 2px gray;
}




/* mobile */

@media screen and (max-width:480px) {

    .cities {
        display: none;
    }


    .countries {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
    }
    
    .country{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
        width: fit-content;
    }

    .text{
        position: relative;
        left: 0rem;
    }
    
    .country img {
        width:  20rem;
        height: 15rem;
    }

    .country img{
        margin-top: 4rem;
    }

    .country img:hover{
        filter: grayscale(0%);
        cursor:auto;
    }

    .country img:active{
        filter: grayscale(0%);
        cursor:auto;
        box-shadow: 2px  2px 2px gray;
    }


}

/* tablet */

@media screen and (min-width:480px) and (max-width:900px) {


    .text{
        position: relative;
        left: 0rem;
    }

    .country img{
        margin-top: 4rem;
    }

    .country img:hover{
        filter: grayscale(0%);
        cursor:auto;
    }

    .country img:active{
        filter: grayscale(0%);
        cursor:auto;
        box-shadow: 2px  2px 2px gray;
    }
    
}