
.navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: hsl(345, 72%, 70%);
    
}

.navbar .menu{  
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-top: 1.85rem;
    list-style: none;
}

.avatar{
    position: relative;
    font-family: 'Gloria Halleleluja', cursive;
    top: 0.5rem;

}

.avatarName{
    font-size: 1.2rem;
}

.logo{
    position: relative;
    top: 0.6rem;
    

}

.title{
    font-size: 2.5rem;
    letter-spacing: 0.25rem;
    font-family: 'Gloria Halleleluja', cursive;
    color: antiquewhite;
    text-shadow: 2px 2px 2px gray;
    position: relative;
    right: 16.5rem;
    
    
}

.logo img{
    width: 6rem;
}

.link{
    position: relative;
    
    
    text-decoration: none;
    font-family: 'Gloria Halleleluja', cursive;
    
}

.link:hover{
    text-shadow: 2px 2px 2px black;
}

.linkProfile {
    text-decoration: none;
    color: black;
}

.linkProfile:hover{
    color: beige;
    
}

.linkProfile:active{
    color: beige;
    text-shadow: 1px 1px 1px black;
}


/* mobile */

@media screen and (max-width:480px) {
    .navbar{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .logo{
        position: relative;
        left: 6rem;
        top: 2.5rem;
        width: 3rem;
        height: 1rem;
        
    }

    .title {
        display: flex;
        margin-left: 25rem;
        font-size: 1.5rem;
        align-self: center;
    }

    .menu { position: relative;
        right: 10rem;
        bottom: 3rem;
     }
}

/* tablet */

@media screen and (min-width:480px) and (max-width:1100px) {
    .navbar{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .logo{
        position: relative;
        left: 8rem;
        top: 2.5rem;
        width: 3rem;
        height: 1rem;
        
    }

    .title {
        display: flex;
        margin-left: 25rem;
        font-size: 1.5rem;
        align-self: center;
    }

    .menu { position: relative;
        right: 10rem;
        bottom: 3rem;
     }
}