.loggedIn {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.avatar-info {
    font-size: 1.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
}

.avatar-info button {
    margin-top: 2rem;
    background-color:hsl(244, 100%, 65%);
    
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2%;
}

.avatar-info button:hover{
    cursor: pointer;
    background-color:rgb(25, 22, 77);
    color: wheat;
}


.avatar-info p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.loggedIn h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.5rem;
}

.loggedIn h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.5rem;
}

.loggedIn .trips {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.loggedIn .trips h5 {
    font-size: 1.5rem;
}

.loggedIn .trips .booking{
display:flex;
flex-direction: row;
justify-content: center;
align-items: center;
box-shadow: 2px 2px 2px 2px gray;
margin: 1rem;
background-color: hsl(345, 72%, 70%)
}

.loggedIn .trips .booking img{
    height: 20rem;
    width: 30rem;
    box-shadow: 1px 1px 1px 1px gray;
    
}


.loggedIn .trips .booking .property-info {
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 0.8rem;
    margin-left: 1rem;
    font-weight: bold;

}

.loggedIn .trips .booking .property-info .button-container{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    height: 2.5rem;
    

}

.loggedIn .trips .booking .property-info .button-container .cancel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    background-color:wheat;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.loggedIn .trips .booking .property-info .button-container .modify{
    background-color:wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

  



.loggedIn .trips .booking .property-info .button-container .modify:hover{
    cursor: pointer;
    background-color:rgb(25, 22, 77);
    
}

.loggedIn .trips .booking .property-info .button-container .cancel:hover{
    cursor: pointer;
    background-color:rgb(25, 22, 77);
    
}


.loggedIn .trips .booking .property-info .button-container p:hover {
    color: white;
}

.loggedIn .trips .booking .info-container {
    text-align: center;
    line-height: 1.4rem;
    margin-right: 0.8rem;
    font-weight: bold;
    
    
}

.loggedIn .trips .booking .info-container h6 {
    font-size: 0.8rem;
}


/* mobile */

@media screen and (max-width:480px) {

    .loggedIn{
        font-size: 0.75rem;
    }

    .loggedIn h3{
        font-size: 2rem;

    }

    .loggedIn .trips .booking .info-container {
        line-height: 0.7rem;
    }

    .loggedIn .trips .booking img{
        height: 10rem;
        width: 15rem;
        box-shadow: 1px 1px 1px 1px gray;
        
    }
}

/* tablet */

@media screen and (min-width:480px) and (max-width:900px) {

    .loggedIn .trips .booking img{
        height: 15rem;
        width: 20rem;
        box-shadow: 1px 1px 1px 1px gray;
        
    }
    
}

