.loggedIn {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.avatar-info {
    font-size: 1.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar-info .logout {
    margin-top: 2rem;
    background-color:hsl(244, 100%, 65%);
    border: none;
    color: white;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4%;
    height: 3.5rem;
}

.avatar-info .logout:hover{
    cursor: pointer;
    background-color:rgb(25, 22, 77);
    color: wheat;
}


.avatar-info p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.loggedIn h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.5rem;
    
}

.loggedIn h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.5rem;
}

.loggedIn .trips {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.loggedIn .trips h5 {
    font-size: 1.5rem;
}

.loggedIn .trips .booking{
display:flex;
flex-direction: row;
justify-content: center;
align-items: center;
box-shadow: 2px 2px 2px 2px gray;
margin: 1rem;
background-color: hsl(345, 72%, 70%)
}

.loggedIn .trips .booking img{
    height: 20rem;
    width: 28rem; 
    margin-right: 2rem;
   /* width: 50%;
    height: 50%; */
    box-shadow: 1px 1px 1px 1px gray;
    
}



.property-info{
    font-size: 1.75rem;
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    

}

.loggedIn .trips .booking .property-info .button-container{
    display: flex;
    flex-direction: row;
    height: 2.5rem;
    align-self: flex-start;
    margin-bottom: 2rem;
    

}

.loggedIn .trips .booking .property-info .button-container .cancel{
    margin-right: 1rem;
    background-color:wheat;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 
}

  

.loggedIn .trips .booking .property-info .button-container .cancel:hover{
    cursor: pointer;
    background-color:rgb(25, 22, 77);
    
}


.loggedIn .trips .booking .property-info .button-container p:hover {
    color: white;
}

.loggedIn .trips .booking .info-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    line-height: 1.55rem;
    margin-right: 0.8rem;
    font-weight: bold;
    font-size: 0.90rem;
    
    
}

.loggedIn .trips .booking .info-container h6 {
    font-size: 0.8rem;
}


/* mobile */

@media screen and (max-width:480px) {

    .loggedIn{
        font-size: 0.75rem;

    }

    .loggedIn h3{
        font-size: 2rem;

    }

    .loggedIn .trips h5 {
        display: none;
    }

    .loggedIn .trips .booking {
        font-size: 1rem;
        display: flex;
        flex-direction: column;
    }

    .property-info .prop-name{
        font-size: 1.35rem;
        text-align: center;
        margin-left: 10%;
        margin-right: 20%;

    }
    .property-info .pos{
        font-size: 1.35rem;
        

    }

    .loggedIn .trips .booking .info-container {
        line-height: 0.7rem;
        font-size: 1.3rem;
        
        
    }

    .loggedIn .trips .booking img{
        height: 10rem;
        width: 15rem;
        box-shadow: 1px 1px 1px 1px gray;
        
    }



}

/* tablet */

@media screen and (min-width:480px) and (max-width:900px) {

    .loggedIn .trips .booking img{
        height: 15rem;
        width: 20rem;
        box-shadow: 1px 1px 1px 1px gray;
        
    }
    .loggedIn .trips h5 {
        display: none;
    }


    .loggedIn .trips .booking .info-container {
        line-height: 0.7rem;

        
    }

    
}

